.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.70em;
  color: black;

  h1 {
    padding: 0.3em;
  }

  img {
    width: 13vw;
    max-width: 5.5em;
  }
}

.App-body {
  
  background-color: #d82c2cec;
  height: 90vh;
  width: 100vw;
  margin: auto;
  display:flex;
  justify-content: center;
  align-items: center;

  .Body-contents {
    .Buttons-div{
      padding: 0.25em;
    }
  }

  button {
    padding: 1em;
    border-radius: 0.4em;
    width: 40vw;
    max-width: 18em;
    background-color: #ffffff;
  }

}


.Hidden-img {
  width: 65vw;
  max-width: 30em;
  filter: brightness(0%);
}


.Shown-img {
  max-width: 30em;
  width: 65vw;
}

