.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.70em;
  color: black;

  h1 {
    padding: 0.3em;
    font-size: 2.5em;
    font-family: monospace; 
  }

  img {
    width: 13vw;
    max-width: 5.5em;
  }
}

.App-body {
  
  background-color: #d82c2cec;
  height: 90vh;
  width: 100vw;
  margin: auto;
  display:flex;
  justify-content: center;
  align-items: center;

  h2,p {
    width: 95vw;
    font-family: monospace; 
    margin: 0.2em;
  }

  h2 {
    font-size: 3em;
  }

  p {
    font-size: 1.7em;
  }

  .Body-contents {
    .Buttons-div{
      padding: 0.25em;
    }
  }

  .Button-div{
    padding-top: 0.5em;
  }

  button {
    padding: 0.75em;
    border-radius: 0.4em;
    width: 40vw;
    max-width: 18em;
    font-size: 1.5em;
    font-family: monospace; 
    background-color: #ffffff;
  }

}

.Hidden-img {
  width: 65vw;
  max-width: 30em;
  filter: brightness(0%);
}

.Shown-img {
  max-width: 30em;
  width: 65vw;
}

